body{ 
	background-color: pink;
	text-align: center;

}

#carousel-example-generic{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 500px;
	height: 600px;
	text-align: center;
	margin-left: 400px;
}

.dropdown{
	margin-bottom: 50px;
}

.dropdown-menu{
	margin-left: 450px;
	

}